# Private variables
BE_HOST= # set to http://localhost:8788/public/countries when running the backend locally
BE_ID_KEY=
BE_ID_VALUE=
BE_SECRET_KEY=
BE_SECRET_VALUE=

CF_CAPTCHA_SECRET_KEY=

# Public variables
PUBLIC_FE_HOST= # This is used for redirects and to bypass Cloudflare referer WAF rules when connecting directly to the backend during the build process, set to http://localhost:5173 when running locally
PUBLIC_BFF_HOST=/api
PUBLIC_STOCK_BUCKET_HOST= # set to /stock when running the backend locally

PUBLIC_GOOGLE_ANALYTICS_ID= # G-XXXXXXXXXX

PUBLIC_CF_CAPTCHA_SITE_KEY=
