@use "sass:color";

@use "@material/theme/color-palette";

// Svelte Colors!
@use "@material/theme/index" as theme with (
  $primary: #c36a2d,
  $secondary: #201f1d,
  $surface: #4c4b48,
  $background: #4c4b48,
  $error: color-palette.$red-900
);
