@import 'tailwindcss';

@theme {
  --color-primary: #ff883e;
  --color-secondary: #2c2c2b;
  --color-secondary-dark: #201f1d;
  --color-background: #3f3d3b;
  --color-background-dark: #323230;
  --color-secondary-background: #7e7e78;
  --color-error: #eb1400;
  --color-error-light: #ff6f61;
  --color-warning: #c36a2d;
  --color-success: #43a047;
  --color-text-secondary: #b5b5b5;
}

:root {
  background-color: color-mix(in srgb, var(--color-background-dark) 40%, #000 60%);
  background-image: url('/grainy-bg-image.webp');
}

body {
  color: #fff;
  font-family: 'Playfair', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cormorant SC', serif;
}

input,
textarea {
  appearance: none;
  outline: none;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

*:disabled {
  cursor: not-allowed;
}

.paddings {
  @apply px-8 py-7 md:py-10;
}

.lineunder {
  position: relative;

  &::after {
    content: '';
    pointer-events: none;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 75%;
    height: 2px;
    transform: translateX(-50%);
    border-radius: 2px;
  }
}

@media (hover: hover) and (pointer: fine) {
  button {
    cursor: pointer;
  }
}

@custom-variant hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @slot;
    }
  }
}

.price {
  font-family: 'Cormorant SC', serif;
}
