@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: 'Playfair', serif;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::selection {
  background-color: theme('colors.primary');
  color: #ffffff;
}
