@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: 'Playfair', serif;
}

h1 {
  font-family: 'Cormorant SC', serif;
}

h2 {
  font-family: 'Cormorant SC', serif;
}

h3 {
  font-family: 'Cormorant SC', serif;
}

h4 {
  font-family: 'Cormorant SC', serif;
}

h5 {
  font-family: 'Cormorant SC', serif;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::selection {
  background-color: theme('colors.primary');
  color: #ffffff;
}

*:disabled {
  cursor: not-allowed;
}

.paddings {
  @apply px-8 py-14;
}
